include ../text/text

mixin why()
	+b.why&attributes(attributes)
		+e.share 
				+e.share-text Поделитесь со всеми, кто принимает решения в бизнесе:
				script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
				script(src="//yastatic.net/share2/share.js")
				.ya-share2(data-services="vkontakte,facebook,odnoklassniki" data-counter="")
		.row
			.col-md-8
				+e.title В России ведут бизнес по наитию. Это опасно.
				+text.
					Пока рынок растёт, и клиентов хватает — всё в порядке. Бизнес на конкурентном рынке позволить себе легкомыслие в решениях уже не может. Ошибёшься — обойдут конкуренты.
					Продажи выросли. Это из-за рекламы или нового сайта?
					Заказываем товар. Купить как в прошлом году или больше?
					Ставим KPI продажникам. Давать премию за новые заказы или за выручку? Или за выручку с повторных заказов? Кому?
		.row.sm-column-reverse
			.col-md-7
				+e.title Анализировать данные трудно. Но конкурентов побеждают те, кто этому научился. 
				+text.
					Для этого я создал курс. Цель курса — обучить основам аналитики. Выпускники не становятся дейта-сайнтестами и не разбираются в бигдате. Зато они умеют сами находить данные, анализировать их и принимать взвешенные решения. 
					Курс для предпринимателей, но будет полезен маркетологам, менеджерам и всем, кто принимает решения в бизнесе.
			.col-md-5
				+e('img').image&attributes({src: '/assets/why-image.png', alt: '', width: "100%"})
		block
