include ../text/text
include ../course-list/course-list


mixin course()
	+b.course&attributes(attributes)
		.row
			.col-md-7
				h2 Курс состоит из 16 уроков об аналитике с теорией, примерами и домашними заданиями
				+text.
					Это платный курс по подписке. Он охватывает 16 тем, для каждой — свой урок в отдельном письме. От письма к письму сложность и полезность курса растёт.
					К концу курса читатель может сформулировать гипотезу, самостоятельно собрать и проанализировать данные или грамотно поставить задачу аналитику или маркетологу.
			.col-md-5
				+e('img').image&attributes({src: "/assets/course-image.png", alt: '', width: '100%'})
		+course-list(getData('course-programm'))
		block


