.btn
	display inline-block
	text-align center
	line-height 50px
	font-size 14px
	font-weight 800
	background #DAB336
	color #000
	cursor pointer
	&:hover
		background #DAB336 + 20%
	&:active
		background #DAB336 - 20%
	&_subscribe
		width 100%
	