mixin faq()
	+b.faq&attributes(attributes)
		.container
			h2 Вопросы и ответы
			.row
				.col-md-8
					h4 Какие знания нужны, чтобы начать?
					+text.
						Нужно уметь пользоваться интернет-браузером. Если вы читаете этот текст, то все ок. Остальные знания будут в уроках.
					h4 Я вообще не разбираюсь в Экселе, подходит ли мне курс?
					+text.
						Да, если вам он достаточно нужен. 
					h4 Можно получить все уроки сразу?
					+text.
						Уроки приходят раз в неделю по одному. В конце курса я пришлю вам письмо с ссылками на все уроки.
					h4 Что будет, если я не сделаю домашние задания?
					+text.
						Никто не накажет. Но полезных знаний вы получите меньше.
					h4 Будет ли экзамен?
					+text.
						Нет, экзамена не будет.
					h4 Получают ли выпускники сертификат?
					+text.
						Нет, не получают.
					h4 Можно ли делиться уроками?
					+text.
						Пересылать друзьями можно, публиковать нельзя. Тех, кто это делает, я исключаю из курса. Деньги в этом случае не возвращаю.
					h4 Что делать, если уроки не приходят?
					+text.
						Если уроки не приходят, напишите мне. Если устранить неполадки не получится, я верну вам деньги.
					h4 Можно купить курс вскладчину или на несколько человек?
					+text.
						Нет, курс предназначен для индивидуального пользования.
					h4 Можно подписать на курс несколько человек в компании?
					+text.
						Да. Чтобы обсудить корпоративную подписку, напишите мне.
						Для компаний действует оферта. К сожалению, я не смогу изменить оферту для вашей компании и согласовать ее с вашими юристами. Так я гарантирую цену для компаний на уровне цен для частных лиц.
						Минимальный заказ для компаний — 15 тысяч рублей. Скидки при заказе от 100 тысяч рублей.
				.col-md-4
					+e('img').img&attributes({src: '/assets/faq.png'})
		block
