mixin testimonials()
	+b.testimonials&attributes(attributes)
		h2 Отзывы
		+e.item.row
			.col-md-8
				+e.item-title Курс серьёзно повлиял на мою работу
				+text.
					Я перестал бояться SQL и баз данных, научился составлять запросы и попробовал научить коллег. Пусть с коллегами не получилось, зато теперь могу общаться на одном языке с айтишниками и представлять что можно делать с данными в базе.
				+text
					strong Инсайт. 
					У нас сервис онлайн-обучения и мы долго не могли придумать адекватную метрику для оценки вовлечённости. Теперь понимаю что с помощью когортного анализа можно оценивать качество контента, а также наших способов возврата аудитории (ретаргетинг и рассылка). 
			.col-md-4
				+e('img').item-img&attributes({src: '/assets/testimonials-1.png'})
				+e.item-img-title Иван Дианов
				+e.item-img-subtitle Соучредитель кафе «Йа»
				+e.item-img-contact Для связи: 
					a(href='#') Фейсбук
		+e.item.row
			.col-md-4
				+e('img').item-img&attributes({src: '/assets/testimonials-2.png'})
				+e.item-img-title Виталий Александров
				+e.item-img-subtitle директор по продажам ТД «Объединённые кирпичные заводы»
				+e.item-img-contact Для связи: 
					a(href='#') Фейсбук
			.col-md-8
				+e.item-title Практика — огонь! Прочитал — посчитал
				+text.
					Все, кому по работе надо работать с данными. Они внедряют полученные знания. 
				+text
					strong Зачем пошёл на курс. 
					Курс проходят предприниматели, маркетологи.
				+text
					strong Что внедрил.
					Они внедряют полученные знания, чтобы увеличить прибыль.
		+e.item.row
			.col-md-8
				+e.item-title В первую очередь внедрил когорты, теперь считаю LTV и ROI только так
				+text.
					Каждый курс проходят предприниматели, маркетологи и продакт-менеджеры — все, кому по работе надо работать с данными. Они внедряют полученные знания, чтобы увеличить прибыль.
				+text
					strong Зачем пошёл на курс. 
					Курс проходят предприниматели, маркетологи.
				+text
					strong Чего ожидал. 
					Они внедряют полученные знания, чтобы увеличить прибыль.
			.col-md-4
				+e('img').item-img&attributes({src: '/assets/testimonials-3.png'})
				+e.item-img-title Артур Белостоцкий
				+e.item-img-subtitle основатель сети кофеен «Лайкели»
				+e.item-img-contact Для связи: 
					a(href='#') Фейсбук
		block
