include ../bg-yellow-image/bg-yellow-image

mixin main()
	+b.main&attributes(attributes)
		+bg-yellow-image
		h1 Данные для бизнеса: накопать, понять и применить
		h4 Онлайн-курс об аналитике для предпринимателей. Теория и практика.
		block
