mixin author()
	+b.author&attributes(attributes)
		h2 Об авторе
		.row
			.col-md-8
				+text.
					В 2004 мне было 19 лет папа работал побыть мальчиком на побегушках. Папа работал в отделе ипотеке (только появлялась). Риэлторы работать с ипотекой умели не все (только элитные). Случилось следующее. У агентства был сайт с 3000 посетителей. Телефон один, у риэлторов были дежурства по 2 часа, когда звонки обрабатывали.
				+text.
					Папа принял все заявки на себя в обмен на телефонные дежурства. Из этого вырос сайт, который надо было продвигать. Это и было моей ответственностью. В том же 2004 году появился ГА. Прочитал крутую книжку и загорелся тем, что можно всё посчитать.
				+text
					| Если у вас есть сомнения, вопросы по курсу или ещё чё, напишите мне на
					a(href='/#')
						ak@smysl.io
		block
