.author
	display block
	background url('/assets/author.png') bottom right no-repeat 
	padding-bottom 50px
	margin-bottom -12px
	a
		color #DAB336

@media only screen and (max-width : 1200px) 
	.author
		padding-bottom 380px
		background-position bottom center