.homeworks
	display block
	background #FFE694
	padding 50px 0
	z-index -2
	position relative
	&__img-main
		margin-top 40px
	&__img-coment
		margin-top 40px
		&:first-child
			margin-top 70px
	&__number-accent
		position relative
		&-title
			font-size 80px
			font-weight 800
			margin-bottom 0px
			&:after
				content ''
				display block
				size(90px)
				border-radius 50%
				background #fff
				position absolute
				top 30%
				left 5%
				z-index -1
		&-subtitle
			font-size 14px
			width 180px