mixin footer()
	+b.footer&attributes(attributes)
		.row
			.col-md-6.
				Досудебный порядок урегулирования споров обязателен. Все споры — по эл. почте, переписка юридически значима. Подсудность неурегулированных споров — Арбитражный суд города Москвы. Права по договору уступке не подлежат. Акты не подписываем.
			.col-md-6.
				ИП Куличевский Алексей Алексеевич, ОГРНИП 313231231700065
				Применяет упрощенную систему налогообложения
				Эл. почта для связи: ak@smysl.io
		.row
			.col-md-6
				+e.copyright.
					&copy; Алексей Куличевский, 2017
		block
